<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спортивные события</title>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/listPages/listPagesStyles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <script defer src="/js/listPages/listPagesFunctions.js"></script>
    <script defer src="/js/index/functions.js"></script>
    <script defer src="/js/index/main.js"></script>
    <script defer src="/js/index/filters.js"></script>
    <script defer src="/js/index/addEvent.js"></script>
    <script defer src="/js/index/deleteEvent.js"></script>

    <nav class="navbar navbar-light background-navbar">
        <div class="container-fluid justify-content-center">
            <h1>Спортивные события</h1>
            <div>
                <a href="/"><button id="Events-button" type="button" class="btn btn-dark btn-lg">События</button></a>
                <a href="/pages/teams/"><button id="Teams-button" type="button" class="btn btn-dark btn-lg">Команды</button></a>
                <a href="/pages/members"><button id="Member-button" type="button" class="btn btn-dark btn-lg">Спортсмены</button></a>
            </div>
            <div></div>
        </div>
    </nav>

    <main>
        <div class="container-fluid">
            <div class="flex">
                <div class="content">
                    <div class="flex direction-column">
                        <h2>Фильтры:</h2>
                        <ul class="list-group list-group-flush small-width filters">
                            <li class="list-group-item" max-to-min>По убыванию минимальной цены</li>
                            <li class="list-group-item" min-to-max>По возрастанию минимальной цены</li>
                            <li class="list-group-item" sport>По виду спорта</li>
                            <li class="list-group-item" venue>По месту проведения</li>
                            <li class="list-group-item" date-time>Предстоящие события</li>
                        </ul>
                    </div>
                    <div class="flex mid-height events-container">
                        <div class="accordion max-width" id="accordionElems">

                        </div>
                    </div>
                </div>
                <aside class="aside-content flex justify-center align-center">
                    <button id="Add-event-button" type="button" class="btn btn-dark btn-lg md-btn-height"
                            data-bs-toggle="modal" data-bs-target="#mainModal">
                        Добавить событие
                    </button>
                </aside>
            </div>
        </div>
    </main>

    <div class="modal" tabindex="-1" id="mainModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

</body>
</html>